@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 10;
  padding-bottom: 1rem;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
}

html, body {
  height: 100%;
  margin: 0;
}

#root, .App {
  display: flex;
  flex-direction: column;
  height: 100%;
}